<aside class="cart js-cart">
    <div class="cart-top-wrapper">
        <header class="cart__header">My Cart</header>
    </div>
    <div class="cart__empty js-cartEmpty">
        There is nothing added in your cart.
    </div>
    <div class="cart__product-container js-cartProductContainer">
    </div>
    <div class="cart__total-container js-cartTotalContainer">
        <div class="cart__total js-cartProducts"></div>
        <div class="cart__total js-cartTotal"></div>
        <div class="cart__total js-cartQuantity"></div>
    </div>
</aside>