<section class="contact section-spacing" id="contact">
    <div class="container">
        {% include 'section-name' with title: 'Contact Us' %}
        <p class="contact__subtitle">We'd love to hear from you!</p>
        <div class="contact-wrapper js-contactWrapper">
            <div class="contact-wrapper-top">
                <button class="contact__header js-contactButton is-show" type="button" data-name="reach-us">Reach Us
                </button>
                <button class="contact__header js-contactButton" type="button" data-name="about-us">About Us
                </button>
                <button class="contact__header js-contactButton" type="button" data-name="find-us">Find Us
                </button>
            </div>
            <div class="contact-wrapper-bottom">
                <div class="contact__content contact__content--form js-contactContent is-show" data-name="reach-us">
                    <figure>
                        <img src="img/kids-1-3.webp" alt="Contact image">
                    </figure>
                    <form method="POST" action="https://formspree.io/f/manondyy" class="form">
                        <label class="form__label" for="name">Your name</label>
                        <input class="form__input" type="text" name="name" required placeholder="Enter your name" maxlength="34">
                        <label class="form__label" for="email">Your email</label>
                        <input class="form__input" type="email" name="email" id="email" required placeholder="Enter your email">
                        <label class="form__label" for="message">Your message</label>
                        <textarea class="form__input" name="message" id="message" cols="30" rows="5" required placeholder="Enter your message"></textarea>
                        <button class="button button--primary" type="submit" aria-label="Submit">Submit</button>
                    </form>
                </div>
                <div class="contact__content contact__content--about js-contactContent" data-name="about-us">
                    <div class="about">
                        <p class="about__title">Who are we?</p>
                        <p class="about__desc">
                            We are a passionate team dedicated to bringing you the best in fashion. Our collection features stylish clothing for men, women, and kids, carefully curated for every occasion. We focus on high-quality materials, trendy designs, and a comfortable shopping experience. Our goal is to inspire confidence and happiness through every outfit.<br>
                            Reach us: <br>
                            Email: <a href="mailto:houseoffeel997@gmail.com">houseoffeel997@gmail.com</a><br>
                            Phone: <a href="tel:+917845625993">+91 78456 25993</a><br>
                            Thank you for shopping with us!
                        </p>
                    </div>
                </div>
                <div class="contact__content contact__content--map js-contactContent" data-name="find-us">
                    <div class="about">
                        <p class="about__title">Let's drink a coffee together!</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.7050391225303!2d80.2111527759243!3d12.99070801445736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526761be8361e5%3A0x80d2ce57e755a40f!2s1126%2C%207th%20St%2C%20TamilNadu%20Housing%20Board%20Colony%2C%20Periyar%20Nagar%2C%20Velachery%2C%20Chennai%2C%20Tamil%20Nadu%20600042!5e0!3m2!1sen!2sin!4v1745676596195!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>