<section class="faqs section-spacing" id="faqs">
    <div class="container">
        {% include 'section-name' with title: "FAQ's" %}
        <div class="faqs-container">
            <div class="faqs-wrapper js-faqsWrapper">
                <button class="faqs__question js-faqsQuestion" type="button" aria-label="FAQ's Questions">
                    <p class="faqs__question__title">Can I purchase clothes directly from your website?</p>
                    <div class="faqs__question__icon">
                        <svg class="icon icon-down">
                            <use xlink:href="#icon-down"></use>
                        </svg>
                    </div>
                </button>
                <div class="faqs__answer">
                    Yes, purchases are made by contacting us.
                    <br>
                    Our site is designed to showcase clothing, promote our brand, and enhance search visibility by providing rich, fashion-focused content.
                </div>
            </div>
            <div class="faqs-wrapper js-faqsWrapper">
                <button class="faqs__question js-faqsQuestion" type="button" aria-label="FAQ's Questions">
                    <p class="faqs__question__title">How often is the product list updated?</p>
                    <div class="faqs__question__icon">
                        <svg class="icon icon-down">
                            <use xlink:href="#icon-down"></use>
                        </svg>
                    </div>
                </button>
                <div class="faqs__answer">
                    We regularly update our collections to match our inventory.
                </div>
            </div>
            <div class="faqs-wrapper js-faqsWrapper">
                <button class="faqs__question js-faqsQuestion" type="button" aria-label="FAQ's Questions">
                    <p class="faqs__question__title">Do you feature brand-specific clothing?</p>
                    <div class="faqs__question__icon">
                        <svg class="icon icon-down">
                            <use xlink:href="#icon-down"></use>
                        </svg>
                    </div>
                </button>
                <div class="faqs__answer">
                    We highlight our in-house collections.
                </div>
            </div>
        </div>
    </div>
</section>