<footer class="footer section-spacing">
    <div class="container">
        <div class="footer-wrapper">
            <svg class="icon icon-logo header__logo__icon">
                <use xlink:href="#icon-logo"></use>
            </svg>
            <div class="footer__rights">
                © <time class="js-footerDate">2025</time> · Ecommerce
            </div>
        </div>
    </div>
</footer>