<section class="showcase section-spacing js-showcase">
    <div class="container">
        <div class="showcase-wrapper">
            <div class="announcement">
                <div class="announcement__title">Special for you</div>
                <p class="announcement__subtitle">Here is the new collection to make you look beautiful!</p>
            </div>
            <div class="featured">
                <div class="featured-wrapper">
                    <div class="featured__item-container featured__item-container--left">
                        <figure class="featured__item">
                            <img class="featured__item__image" src="img/men-1-1.webp" alt="Product Image">
                            {% include 'button' with modifier: 'secondary js-featuredItemButton', title: 'Mens Collection', attribute:' data-name="mens"' %}
                        </figure>
                        <figure class="featured__item">
                            <img class="featured__item__image" src="img/kids-1-1.webp" alt="Product Image">
                            {% include 'button' with modifier: 'secondary js-featuredItemButton', title: 'All Kids Collection', attribute:' data-name="kids"' %}
                        </figure>
                    </div>
                    <div class="featured__item-container featured__item-container--right">
                        <figure class="featured__item">
                            <img class="featured__item__image" src="img/women-1-1.webp" alt="Product Image">
                            {% include 'button' with modifier: 'secondary js-featuredItemButton', title: 'Womens Collection', attribute:' data-name="womens"' %}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>