<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House of Feel | House of Feel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <title>House of Feel – Stylish Clothing for Men, Women & Kids</title>
    <meta name="description" content="Discover fashionable clothing for men, women, and kids at House of Feel. Explore quality styles, handpicked collections, and trend-setting apparel.">
    <meta name="keywords" content="clothing, fashion, men clothes, women clothes, kids wear, trendy apparel, stylish outfits">
    <meta name="author" content="House of Feel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="House of Feel – Clothing for Every Generation">
    <meta property="og:description" content="Explore handpicked clothing collections for men, women, and kids. Quality fashion, smart styles.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://houseoffeel.in/">
    <meta property="og:image" content="https://houseoffeel.in/img/og-image.jpg">
    
</head>

<body>
    {% include 'svg-icons' %}
    {% include 'header' %}
    <main class="main">
        {% block content%}
        {% endblock%}
    </main>
    {% include 'footer' %}
    {% include 'scroll-top' %}
    
    <script src="js/header.js"></script>
    <script src="js/global.js"></script>
    {% block customJS%}
    {% endblock%}
</body>

</html>